body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../hackathon2025/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #12db23;
}

.phone {
  width: 360px;
  height: 640px;
  background-color: #000000;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.screen {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.app-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px;
  width: 80%;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.app-button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 16px;
  color: #ff0000;
}

.result p {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
}
